@using Microsoft.Extensions.Hosting
@model Library.Web.Models.LoginUser

@{
    ViewData["Title"] = "Log in";
}

<div class="container">
    <h1>@ViewData["Title"]</h1>
    @{
        var env = Environment.GetEnvironmentVariable("ASPNETCORE_ENVIRONMENT");
        if (env == Environments.Staging)
        {
            <h3 class="text-warning">STAGING</h3>
            <h4>Test Account</h4>
            <strong>Id: 1</strong>
            <strong>Password: 123</strong>
        }
    }
    <div class="row">
        <div class="col-md-4">
            <section>
                <form id="account" method="post" asp-controller="Account" asp-action="Login">
                    <h4>Use a local account to log in.</h4>
                    <hr/>
                    @* <div asp-validation-summary="All" class="text-danger"></div> *@
                    <div class="form-group">
                        <label asp-for="Id"></label>
                        <input asp-for="Id" class="form-control"/>
                        <span asp-validation-for="Id" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password"></label>
                        <input asp-for="Password" class="form-control" type="password"/>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <input type="hidden" asp-for="ReturnUrl" value="@ViewBag.ReturnUrl"/>
                    @* <div class="form-group"> *@
                    @* <div class="checkbox"> *@
                    @*     <label asp-for="Input.RememberMe"> *@
                    @*         <input asp-for="Input.RememberMe" /> *@
                    @*         @Html.DisplayNameFor(m => m.Input.RememberMe) *@
                    @*     </label> *@
                    @* </div> *@
                    @* </div> *@
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Log in</button>
                    </div>
                    @* <div class="form-group"> *@
                    @*     <p> *@
                    @*         <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a> *@
                    @*     </p> *@
                    @*     <p> *@
                    @*         <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a> *@
                    @*     </p> *@
                    @*     <p> *@
                    @*         <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a> *@
                    @*     </p> *@
                    @* </div> *@
                </form>
            </section>
        </div>
        <div class="col-md-6 col-md-offset-2">
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}